<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053312555544-rubd9dm06da6qqv3dppg5ht7cqfrqqbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053312555544-rubd9dm06da6qqv3dppg5ht7cqfrqqbp</string>
	<key>API_KEY</key>
	<string>AIzaSyB6nG_9TVDdKTgv5NmkK4Mc4mk58ZBjihI</string>
	<key>GCM_SENDER_ID</key>
	<string>1053312555544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.proscholy.id.Zpevnik</string>
	<key>PROJECT_ID</key>
	<string>proscholycz</string>
	<key>STORAGE_BUCKET</key>
	<string>proscholycz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053312555544:ios:e5370d3eba3dc0a3f1c16d</string>
	<key>DATABASE_URL</key>
	<string>https://proscholycz.firebaseio.com</string>
</dict>
</plist>